In [112]:
import pandas as pd
import numpy as np
import os
import time
import requests
import sys
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications.resnet50 import ResNet50
from keras_preprocessing.image import ImageDataGenerator

In [19]:
whole_images = pd.read_csv("whole_images.csv")

In [20]:
whole_images.head()

,id,mainpicLink,otherpics
0,4580,http://fns.modanisa.com/r/pro2/2012/06/26/yari...,\N
1,4610,http://fns.modanisa.com/r/pro2/2012/06/26/yari...,\N
2,10758,http://fns.modanisa.com/r/pro2/2012/11/09/buyu...,http://fns.modanisa.com/r/pro2/2012/11/09/buyu...
3,16491,http://fns.modanisa.com/r/pro2/2013/01/22/onu-...,http://fns.modanisa.com/r/pro2/2013/01/22/onu-...
4,16493,http://fns.modanisa.com/r/pro2/2013/01/22/onu-...,http://fns.modanisa.com/r/pro2/2013/01/22/onu-...

In [8]:
prod_details =pd.read_csv("prod_details.csv",low_memory=False)

In [11]:
prod_details = prod_details[['productid','category']]
prod_details

        productid                   category
0         8007176       Erkek Çocuk Pantolon
1         8010707  Erkek Çocuk Spor Ayakkabı
2         1871765           Kız Çocuk Elbise
3         1168509                      Tunik
4         8131584          Büyük Beden Takım
...           ...                        ...
252077    8124609       Erkek Çocuk Pantolon
252078    8027155          Kız Çocuk T-Shirt
252079    8092969                  Spor Tayt
252080     184235                      Eşarp
252081    8082013     Erkek Çocuk Sweatshirt

[252082 rows x 2 columns]

In [12]:
pd.set_option("display.max_rows", None)
ls=(prod_details['category'].value_counts(dropna=True))

In [14]:
count=0
for key, value in ls.items():

    if (int(value)<6200):
        count+=value
        prod_details.drop(prod_details.index[prod_details['category'] == str(key)], inplace=True)

print('deleted ',count)
#we wiill let only 6 categories

deleted  186996

In [15]:
len(prod_details)

65086

In [ ]:
prod_arr = np.array(prod_details)

for each in prod_arr:
     
    try:
        product = (whole_images.loc[whole_images['id'] == each[0]])
        url = str(product['mainpicLink'].values[0])  
        #print("url :",url)
        r = requests.get(url, allow_redirects=True)
        #enter your target location to save images.
        
        path ='C:/Users/IDU/Desktop/modanisa/'+str(each[1]) 
        os.makedirs(path, exist_ok = True)
        target_loc = path +"/"+ str(each[0])+'.jpg'
        #print(target_loc)
        open(target_loc, 'wb').write(r.content)     

    except Exception as e:
        print(str(each[0])," problem ",str(each[1]))

In [113]:
os.listdir('C:/Users/IDU/Desktop/modanisa/')

['Eşarp', 'Omuz Çantası', 'Takım', 'Tesettür Elbise', 'Tunik', 'Şal']

In [114]:
train_datagen = ImageDataGenerator(
        rescale=1./255,
        shear_range=0.2,
        zoom_range=0.2,
        horizontal_flip=True)
test_datagen = ImageDataGenerator(rescale=1./255)
train_generator = train_datagen.flow_from_directory(
        '../modanisa',
        target_size=(150, 150),
        batch_size=32,
        class_mode='binary')

Found 63565 images belonging to 6 classes.